dsqengine/schemas/acd_codes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="ACDCodeValueType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CategoryType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Alcohol and Drug"/>
            <xs:enumeration value="Duties Failed"/>
            <xs:enumeration value="Equipment / Vehicles"/>
            <xs:enumeration value="Maneuvers"/>
            <xs:enumeration value="Speeding"/>
            <xs:enumeration value="Unclassified"/>
            <xs:enumeration value="Withdrawals"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GroupType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BAC Group"/>
            <xs:enumeration value="DUI Group"/>
            <xs:enumeration value="POS Group"/>
            <xs:enumeration value="IID Group"/>
            <xs:enumeration value="TCS Group"/>
            <xs:enumeration value="UDG Group"/>
            <xs:enumeration value="Administrative Per Se"/>
            <xs:enumeration value="HRB Group"/>
            <xs:enumeration value="DAW Group"/>
            <xs:enumeration value="DRM Group"/>
            <xs:enumeration value="MIS Group"/>
            <xs:enumeration value="FRI Group"/>
            <xs:enumeration value="FTAP Group"/>
            <xs:enumeration value="MDF Group"/>
            <xs:enumeration value="RBL Group"/>
            <xs:enumeration value="PBL Group"/>
            <xs:enumeration value="FTU Group"/>
            <xs:enumeration value="IEU Group"/>
            <xs:enumeration value="RPE Group"/>
            <xs:enumeration value="SSP Group"/>
            <xs:enumeration value="FTO Group"/>
            <xs:enumeration value="FOL Group"/>
            <xs:enumeration value="ILL Group"/>
            <xs:enumeration value="PAS Group"/>
            <xs:enumeration value="RCN Group"/>
            <xs:enumeration value="FTY Group"/>
            <xs:enumeration value="FTS Group"/>
            <xs:enumeration value="IMT Group"/>
            <xs:enumeration value="WWS Group"/>
            <xs:enumeration value="MMV Group"/>
            <xs:enumeration value="SPE Group"/>
            <xs:enumeration value="SPD Group"/>
            <xs:enumeration value="VUP Group"/>
            <xs:enumeration value="VCA Group"/>
            <xs:enumeration value="WRS Group"/>
            <xs:enumeration value="WJL Group"/>
            <xs:enumeration value="WIW Group"/>
            <xs:enumeration value="WSC Group"/>
            <xs:enumeration value="WIH Group"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ACDCodeType">
        <xs:sequence>
            <xs:element name="Code" type="ACDCodeValueType"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Abbreviation" type="xs:string"/>
            <xs:element name="Category" type="CategoryType"/>
            <xs:element name="Group" type="GroupType"/>
            <xs:element name="IsConvictionCode" type="xs:boolean"/>
            <xs:element name="IsWithdrawalCode" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ACDCodes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ACDCode" type="ACDCodeType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>