dsqengine/schemas/driving_history.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="incident.xsd"/>
    <xs:complexType name="DrvingHistoryType">
        <xs:element name="Incidents">
            <xs:sequence>
                <xs:element name="Incident" type="Incident" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:complexType>

    <xs:element name="DrivingHistory" type="DrivingHistoryType"/>
</xs:schema>