dsqengine/schemas/incident.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="conviction.xsd"/>
    <xs:include schemaLocation="jurisdictions.xsd"/>
    <xs:complexType name="IncidentType">
        <xs:sequence>
            <xs:element name="IncidentId" type="xs:string"/>
            <xs:element name="IncidentDate" type="xs:date"/>
            <xs:element name="JurisdictionRef" type="JurisdictionCodeType"/>
            <xs:element name="Convictions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Conviction" type="Conviction" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Incident" type="IncidentType"/>
</xs:schema>