dsqengine/schemas/offense_classifications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="ACDCodeValueType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OffenseClassificationNameType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Major"/>
            <xs:enumeration value="Serious"/>
            <xs:enumeration value="Railroad"/>
            <xs:enumeration value="OutOfService"/>
            <xs:enumeration value="Falsify"/>
            <xs:enumeration value="PatriotAct"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="OffenseClassificationType">
        <xs:sequence>
            <xs:element name="Name" type="OffenseClassificationNameType"/>
            <xs:element name="ACDCodeRef" type="ACDCodeValueType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="OffenseClassifications">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OffenseClassification" type="OffenseClassificationType" minOccurs="1" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>